<div class="container-fluid footer-wrapper">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <section class="align-content-center">
                <label><a href="https://www.sysleaf.com/privacy/"> Privacy </a></label>
                <span class="dot">.</span>
                <label><a href="https://www.sysleaf.com/sitemap.xml/"> Sitemap </a></label>
                <span class="dot">.</span>
                <label>© 2017 c0demark</label>
            </section>
        </div>
    </div>
</div>