<div class="container-fluid header-wrapper">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <section class="">
                <figure class="display-inline-block banner-icon-font vertical-align-middle">
                    <i class="fa fa-shopping-basket text-shadow" aria-hidden="true"></i>
                </figure>
                <figcaption class="display-inline-block text-shadow text-uppercase vertical-align-middle banner-icon-text">
                    <span class="color-transparent-green">Petal</span> Basket
                </figcaption>
            </section>
        </div>
        <div class="col-lg-3 col-md-3"> </div>
        <div class="col-lg-3 col-md-3"> </div>
        <div class="col-lg-2 col-md-2">
            <section class="section-user-login">
                <figure class="display-inline-block vertical-align-middle">
                    <i class="fa fa-user-circle-o text-shadow" aria-hidden="true"></i>
                </figure>
                <figcaption class="display-inline-block">
                    <span class="text-shadow vertical-align-middle">Login/Signup</span>
                </figcaption>
            </section>
        </div>
    </div>
</div>